In [39]:
import sqlite3

In [55]:
conn = sqlite3.connect("canteen_new1.db")

In [41]:
mycursor = conn.cursor()

In [42]:
q1 = """CREATE TABLE empinfo (
                                empid int PRIMARY KEY,
                                first_name varchar(255), 
                                last_name varchar(255), 
                                userid varchar(255),
                                password varchar(255),
                                usergroup varchar(255))"""

####<Datatype>#####
#NULL
#INTEGER
#REAL
#TEXT
#BLOB
try:
    mycursor.execute(q1)
    conn.commit()
except:
    pass

In [26]:
inserting_value = [(4004631, "Deep", "Gupta","deep.g","deep.g", "admin")]
for item in inserting_value:
    q3 = "INSERT INTO empinfo VALUES {}".format(item)
    mycursor.execute(q3)
    print(q3)
conn.commit()

INSERT INTO empinfo VALUES (4004631, 'Deep', 'Gupta', 'deep.g', 'deep.g', 'admin')

In [47]:
q2 = """SELECT * FROM empinfo where first_name=='deep'"""
mycursor.execute(q2)
for i in mycursor:
    print(i)

In [48]:
q4 = "DELETE FROM empinfo where first_name=='deep' and last_name=='gupta'"
mycursor.execute(q4)
conn.commit()

In [56]:
conn.close()

In [51]:
users = []
users.append((1,"deep", "gupta", "pass1", "Admin"))
users.append((2,"sayantan", "halder", "pass2", "Super_user"))

In [53]:
user = users[0][0]

In [54]:
user

1

In [58]:
conn = sqlite3.connect("canteen_new1.db")
mycursor = conn.cursor()
q2 = """SELECT * FROM empinfo"""
mycursor.execute(q2)
for i in mycursor:
    print(i)
conn.close()

(40046322, 'ratul', 'kumar', 'ratul.k', 'ratul.k', 'User')
(4004631, 'deep', 'gupta', 'deep.g', 'deep.g', 'Admin')
(40046323, 'tannu', 'tannu', 'tannu.t', 'tannu.t', 'User')